.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #111; 
  box-sizing: border-box;
}

.content {
  text-align: left;
  max-width: 700px;
  width: 100%; 
}

.title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.3rem;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 15px;
}

.highlight {
  color: #fff; 
  font-weight: 600;
}

.highlightOrange {
  color: #ff6700;
  font-weight: 600;
}

.codeBlock {
  background-color: #222;
  color: #ff6700;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  margin-bottom: 15px;
  font-size: 17px;
}

/* --- Responsif --- */
@media (max-width: 768px) {
  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
  }

  .codeBlock {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .codeBlock {
    font-size: 13px;
    padding: 8px;
  }
}

